<main>

    <h1 class='edit-conf-text'>Your changes have been saved!</h1>

    <a href="/petition">
        <div class='btn edit-logout-btn'>Petition</div>
    </a>

    <a href="/signers">
        <div class='btn edit-logout-btn'>Signers</div>
    </a>

    <a href="/logout">
        <div class='btn edit-logout-btn'>Log Out</div>
    </a>




</main>