<head>
    <title> {{ pageTitle }} </title>
</head>


{{#if error}}
<div class="error"> Ooops 🙀 ! SORRY! It seems like you did not enter your first and last name. Please let us know who
    you
    are. 🦄</div>