<div class="wrapper">
    <h1>Log In</h1>



    <div class="login-form">

        <p>Please log in.</p>

        {{#if error}}
        <p class="error"> Ooops 🙀! Password or Username is not correct! 🦄
        </p>
        {{/if}}


        <form method='post' action='/login'>



            <label for="email">Your best Email Adress </label>
            <input type="email" name='email' id='email'>
            <br><br>
            <label for="password">Password (4 characters min.)</label>
            <input type="password" name='password' id='pass' minlength="4" required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br><br>
            <button id='login-btn'>Log In!</button>

        </form>