{{!-- <div class="snow" count="7000"></div> --}}

<main>
    <div class="login-img-container">
        <img src="/img/dog1.jpg" id="wetdog" alt="sad wet dog">
    </div>
    <div class="wrapper">
        <h1>Welcome Back</h1>



        <div class="login-form-wrapper">



            {{#if error}}
            <p class="error"> Ooops 🙀! Password or Username is not correct! 🦄
            </p>
            {{/if}}


            <form id='login-form' method='post' action='/login'>



                <label for="email">Your Email Adress </label><br>
                <input type="email" name='email' id='email'>
                <br><br>
                <label for="password">Password</label><br>
                <input type="password" name='password' id='pass'>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <br><br>
                <button class='btn'>Log In</button>

            </form>



            {{!--
            <script src="/snow.js"></script> --}}
</main>