<head>
    <title> {{ pageTitle }} </title>
</head>
<main>

    <div class="wrapper">

        <p class='logout-text'>You have been logged out succesfully!</p>
        <img src="/img/dog2.jpg" alt="uggly dog" class='logout-dog'>

        <h3> Go to <a href="/home">Homepage</a> to let your friends sign as well</h3>
    </div>
</main>