<head>
    <title> {{ pageTitle }} </title>
</head>

<main>
    <div class="wrapper">
        <div class="petition-text-wrapper">
            <h1>Sign Now against Snow</h1>
            <h2>and make all those sad, wet stinky dogs happy that they never have to walk through snow anymore
                </h1>

                <p class='petition-text'> Please confirm the petition with your signature!</p>
                <br><br>
        </div>


        {{#if error}}
        <p class="error"> 🤨 Ooops ! Something went wrong 🤨
        </p>
        {{/if}}

        <form method='post' action='/petition'>

            <label for="sig">Your Signature here</label><br>
            <input type="hidden" name='sig' id='sig-field' value=''>

            <canvas id='canvas' width='500px' height='150px'></canvas>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br><br>
            <button class="btn submit-btn">Submit</button>
            <br><br>


        </form>
    </div>
</main>