<head>
    <title> {{ pageTitle }} </title>
</head>

<div class="wrapper">
    <p>Hi {{first}}! Now please tell us a little bit more about yourself!</p>






    <div class="form-wrapper">
        <form method='post' action='/profile'>
            <label for="age">Age</label>
            <input type="text" name='age' id='age'>
            <br><br>
            <label for="city">City</label>
            <input type="text" name='city' id='city'>
            <br><br>
            <label for="homePage">Homepage</label>
            <input type="text" name='url' id='url'>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br><br><br>
            <button id='continue-btn'>Save and Continue</button>
            <br><br>

        </form>
    </div>

    <a href="/petition">Skip this Step</a>





</div>