<head>
    <title> {{ pageTitle }} </title>
</head>
<main>

    <div class="wrapper profile-wrapper">
        <h1 class="greeting">Hi {{firstName}}</h1>
        <p class="profile-text"> If you wish, you can submit some further information about you. Note : ohter people
            can see your age and
            visit the link you provided in the homepage field. We asked for the city so that we can group them
            together. You can check who else in your city is against snow!</p>

        <div class="form-wrapper">
            <form method='post' action='/profile'>
                <label for="age">Age</label>
                <input type="text" name='age' id='age'>
                <br><br>
                <label for="city">City</label>
                <input type="text" name='city' id='city'>
                <br><br>
                <label for="homePage">Homepage</label>
                <input type="text" name='url' id='url'>
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <br><br><br>
                <a href="/petition">
                    <div class='btn skip-btn'>Skip</div>
                </a>
                <button class='btn profile-btn'>Save</button>
                <br><br>
            </form>
        </div>

    </div>
</main>