{{!-- <div class="snow" count="7000"></div> --}}


<main>
    <div class="register-img-container">
        <h1 class="petition-heading">STOP the SNOW</h1>
        <h2 class="petition-subheading">Sign Now</h2>
        <img src="/img/winter-pug.jpg" id="dogOne" alt="A sad wet dog">
    </div>
    {{#if error}}
    <p class="error"> 🤨 Ooops ! Something went wrong 🤨!
    </p>
    {{/if}}

    <div class="flex-container-registr">

        <div class="registration-flex-item1">

            <p class="petition-description">Sign the <bold>PETITION</bold> against Snow when people have to walk their
                dogs. <br>
                It is very hard to walk a dog covered in a blanket and look how sad this dog is!
                Register and sign the Petition now!
            </p>
        </div>


        {{!-- hier --}}

        <div class="registration-flex-itm2">

            <form class='registration-form' method='post' action='/registration'>

                <label for="firstName">First Name<span>*</span></label>
                <input type="text" name='first' id='firstName'>

                <label for="lastName">Last Name<span>*</span></label>
                <input type="text" name='last' id='lastName'>

                <label for="email">Email<span>*</span> </label>
                <input type="email" name='email' id='email'>

                <label for="password">Password<span>*</span></label>
                <input type="password" name='password' id='pass'>

                <input type="hidden" name="_csrf" value="{{csrfToken}}">

                <div class="reg-btn-container">
                    <button class='btn register-btn'>Register</button>
                </div>
                <p class="offer-login">Already member? Please <a href="/login">Log In </a></p>
            </form>



        </div>


    </div>
    {{!--
    <script src="/snow.js"></script> --}}
</main>