<main>
    <div class="snow" count="7000"></div>
    <div class="img-container">
        <img src="/img/winter-pug.jpg" id="dogOne" alt="A sad wet dog">
    </div>

    <div class="test">
        <h1>Join Our Tripe!!!</h1>
        <p class="petition-description">Sign the petition against wet dogs. Its cruel to let them get wet. A big proud
            dog suddendly looks like a
            guinea-pig. We have to STOP that. Help us with your signature. </p>
    </div>

    <h2>Register</h2>
    {{#if error}}
    <p class="error"> 🤨 Ooops ! Something went wrong 🤨!
    </p>
    {{/if}}

    <div class="landing-form">

        <form method='post' action='/registration'>
            <div>
                <label for="firstName">First Name</label><br>
                <input type="text" name='first' id='firstName'>
            </div>

            <div>
                <label for="lastName">Last Name</label><br>
                <input type="text" name='last' id='lastName'>
            </div>

            <div>
                <label for="email">Email </label><br>
                <input type="email" name='email' id='email'>
            </div>

            <div>
                <label for="password">Password (4 characters min.)</label><br>
                <input type="password" name='password' id='pass' minlength="4" required>
            </div>

            <input type="hidden" name="_csrf" value="{{csrfToken}}">

            <button id='register-btn'>Register!</button>

        </form>


        <p class="login">Already a member? Please <a href="/login">Log In </a></p>

    </div>

    </div>
    <script src="/snow.js"></script>
</main>