<div class="wrapper">
    <h1>Registration</h1>
    <h3>Become part of the sundance</h3>
    <br><br>

    {{#if error}}
    <p class="error"> 🤨 Ooops ! Something went wrong 🤨!
    </p>
    {{/if}}



    <div class="form-wrapper">

        <form method='post' action='/registration'>

            <label for="firstName">First Name</label><br>
            <input type="text" name='first' id='firstName'>
            <br><br>
            <label for="lastName">Last Name</label><br>
            <input type="text" name='last' id='lastName'>
            <br><br>
            <label for="email">Email </label><br>
            <input type="email" name='email' id='email'>
            <br><br>
            <label for="password">Password (4 characters min.)</label><br>
            <input type="password" name='password' id='pass' minlength="4" required>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <br><br>
            <button id='register-btn'>Register!</button>

        </form>
        <br><br><br>
        <p>Already a member? Please <a href="/login">Log In </a></p>

    </div>

</div>