<head>
    <title> {{ pageTitle }} </title>
</head>



<h1> You and {{ numOfSigners }} other People want to stay in the Sun.See who else is against Rain and want to have Sun
    only!</h1>


<ul>
    {{#each signers}}
    <li> {{ first }} {{ last }}</li>
    {{/each}}

</ul>

<form action="" method="post">
    <input type="submit" name="reset-cookies" value="Reset Cookies" />
</form>