<head>
    <title> {{ pageTitle }} </title>
</head>



<h1>See who else is against Rain and want to have Sun only!</h1>

{{#each signers}}
<ul>
    <li> {{ userFirstName }} {{ userLastName}}</li>
</ul>
{{/each}}