<head>
    <title> {{ pageTitle }} </title>
</head>

<div class="wrapper">
    <h1>Your Signature</h1>


    <h2>Thank you {{ firstName }} !! </h2>

    <img src={{ signatureImg }} alt="signature">

    <a herf='/signers'>
        <p>See all {{numOfSigners}} signers!</p>
    </a>

    <a href='/edit'>
        <p>Edit your profile.</p>
    </a>

    <form method='post' action='/thankyou'>
        <button class="delete-sig-btn">Delete your signature</button>
    </form>



</div>