<head>
    <title> {{ pageTitle }} </title>
</head>

<div class="wrapper">
    <h1>Your Signature</h1>

    <img src={{ signatureImg }} alt="signature">

    <h2>Thank you {{ firstName }} !! </h2>



    <p>Now go to the <a href="/signers">Singers Page</a> to see other Signers!</p>
</div>